
.navbar {
    background-color: #56656D;
}

.quem-somos {
    background-color: blue;
}

.col {
    color: white;
}

#quemsomos {
    background-color: rgb(97, 218, 240);
}

.margin {
    /*margin-top:30px;*/
    padding-top: 30px;
    /* é como se o padding expandisse o container, como se fosse uma margin interna*/
}